/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Contenedor principal */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
}

/* Estructura de la página */
.login-container {
    display: flex;
    width: 800px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

/* Formulario de inicio de sesión */
.login-form {
    padding: 40px;
    width: 50%;
    background: #ffffff;
}

/* Centrar el texto de "Hello!" y "Sign into Your account" */
.header-text {
    text-align: center;
    margin-bottom: 20px;
}

.account-text {
    text-align: center;
    padding-top: 5px;
    margin-bottom: 20px;  color: #666666;
}

.header-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.header-text p {
    color: #666666;
}

/* Estilos para el grupo de entrada */
.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 10px 15px 10px 40px;
    border-radius: 30px;
    font-size: 16px;
    background: #fff;
    outline: none;
    transition: border 0.3s;
    border-image-slice: 1;
    border-width: 2px;
    border-style: solid;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #666666;
}

.show-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #666666;
}

/* Estilo de los botones */
.sign-in-button, .register-button {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to right, #4a90e2, #b0b0b0);
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 10px auto;
    display: block;
}

.sign-in-button:hover, .register-button:hover {
    background: linear-gradient(to right, #b0b0b0, #4a90e2);
}

/* Mensaje de "Don't have an account?" */
.create-account-message {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666666;
}

.welcome-section {
    width: 50%;
    height: auto;
    aspect-ratio: 1; /* Mantiene la proporción cuadrada de 1:1 (como la imagen de 1120x1120) */
    background: url('logo.jpg') no-repeat center center;
    background-size: contain;
}
